<h2>About the Club</h2>
<h3>History</h3>

<p>The Club was founded in 2012 taking over a bowling green from a bowls club that had closed. The site is leased from Sutton Council.</p>

<p>The Club is affiliated with the <a href="www.croquet.org.uk">Croquet Association</a> and the <a href="www.croquet.org.uk/secf/">South East Croquet Federation</a></p>
