<table>
<tr>
	<td>Sunday</td>
	<td>Monday</td>
	<td>Tuesday</td>
	<td>Wednesday</td>
	<td>Thursday</td>
</tr>
<tr>
	<td>Friday</td>
	<td>Saturday</td>
	<td>Sunday</td>
	<td>Monday</td>
	<td>Tuesday</td>
</tr>
</table>